node_modules
npm-debug.log
*.log

.git
.github
.vscode
.idea

.env
.env.*

database.sqlite
database.sqlite-shm
database.sqlite-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal

logs
tmp
temp
.cache

*.pdf

renderTabela_old.txt
tmp_view.txt
